<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pablo Romano</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type='text/css'>
    <script src="https://kit.fontawesome.com/250ed1169a.js" crossorigin="anonymous"></script>
    <script defer src="../../javascripts/script.js"></script>
</head>